# Ambiente virtual
.venv/
venv/
ENV/

# Cache e arquivos temporários
__pycache__/
*.py[cod]
*.log
*.sqlite3
*.db
*.pid

# IDEs
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Docker
*.env
.env
